@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Overpass:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", serif;
}

body {
    height: 100vh;
    background-color: #3b4664;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#root {
    width: 25%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

h1 {
    color: #eae3db;
}

#answers {
    width: 90%;
    height: 20%;
    padding: 20px;
    font-size: 30px;
    font-weight: 800;
    border-radius: 7px;
    background-color: #181f32;
    color: #eae3db;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#grid-div {
    width: 90%;
    height: 70%;
    padding: 20px;
    background-color: #252d44;
    border-radius: 7px;
    display: grid;
    grid-template: repeat(5, 1fr) / repeat(4, 1fr);
    gap: 20px;
}

#grid-div div {
    font-weight: 700;
    color: #252d44;
    background-color: #eae3db;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#grid-div > :nth-child(4) {
    background-color: #647199;
    color: #eae3db;
}

#grid-div > :nth-child(17) {
    background-color: #647199;
    color: #eae3db;
    grid-area: 5 / 1 / 6 / 3;
}


#grid-div > :nth-child(18) {
    background-color: #d13f30;
    color: #eae3db;
    grid-area: 5 / 3 / 6 / 5;
}